<nav class="row">
    <ul>
        <li class="brand">
            <a href="/">
                Books4people
            </a>
        </li>
        <li>
            <a href="/">
                Books
            </a>
        </li>
        <li>
            <a href="/">
                Independent publishes
            </a>
        </li>
        <li>
            <a href="/">
                foo
            </a>
        </li>
        <li>
            <a href="/">
                More foo
            </a>
        </li>
        <li>
            <a href="/">
                Share it on internet!
            </a>
        </li>
    </ul>
</nav>