<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Books4people -
        {% block subtitle %}
            Books
        {% endblock %}
    </title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="icon" href="{% static "images/favicon.png" %}">

</head>
<body>

<header>

</header>
<div class="main_page">
    <nav>
        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/">
                    Books
                </a>
            </li>
            <li>
                <a href="/">
                    Independent publishes
                </a>
            </li>
            <li>
                <a href="/">
                    foo
                </a>
            </li>
            <li>
                <a href="/">
                    More foo
                </a>
            </li>
            <li>
                <a href="/">
                    Share it on internet!
                </a>
            </li>
        </ul>
    </nav>

    <section>
        {% block content %}

        {% endblock %}
    </section>
</div>
<footer>
    Footer
</footer>
</body>
</html>